@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
  @apply font-secondary bg-secondary text-base text-primary;
  }
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    @apply font-primary;
  }
  .h1 {
    @apply text-[64px] leading-none xl:text-[72px] xl:leading-[76px];
  }
  .h2 {
    @apply text-[48px] leading-[54px];
  }
  .h3 {
    @apply text-[36px] leading-[48px];
  }
  .h4 {
    @apply text-xl; 
  }
  .lead {
    @apply text-lg mb-8;
  }
  a {
    @apply font-primary;
  }
}


.btn {
  @apply bg-accent min-w-[178px] rounded-tl-[30px] rounded-bl-[30px] rounded-tr-[4px]
  rounded-br-[24px] font-primary uppercase tracking-[1px] h-[58px] pl-8 
  pr-6 flex items-center justify-center text-white;
}

.input {
  @apply h-[54px] bg-white rounded-full px-6;
}

.textarea {
  @apply h-[120px] rounded-[20px] px-6 pt-4 resize-none;
}

.input, .textarea {
  @apply outline-none ring-1 ring-accent/80 focus:ring-1 focus:ring-accent
  font-primary text-sm uppercase placeholder:text-primary text-primary;
}
 
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  position: relative;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: var(--tw-color-accent, #E91E63);
  transition: width 0.3s ease;
}

.navbar a:hover::after{
  width: 100%;
}

#check {
  display: none;
}

.icons{
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  } 

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  overflow: hidden;
  transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15 * var(--i));
  }
}



